*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
}
h1{
	font-size: 50px;
	line-height: 64px;
	color: #022;
}
h2{
	font-size: 46px;
	line-height: 54px;
	color: #022;
}
h4{
	font-weight: 700;
	font-size: 22px;
}
h6{
	font-weight: bold;
	font-size: 15px;
}
p{
	font-size: 16px;
	color: grey;
	margin: 15px 0px 20px  0px;
}
.section_p1{
	padding: 40px 80px;
}
.section_m1{
	margin: 40px 0px;
}
button.normal{
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: black;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}
button.white{
	font-size: 13px;
	font-weight: 600;
	padding: 11px 18px;
	color: white;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid white;
	outline: none;
	transition: 0.2s;
}
body{
	width: 100%;
}
.logo{
	height: 60px;
}
#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background-color: #d9eafd;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
}
#navBar{
	display: flex;
	justify-content: center;
	align-items: center;
}
#navBar li{
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navBar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: black;
	transition: 0.3s ease;
}

#navBar li a:hover,
#navBar li a.active{
	color: #2aabe4;
}
#navBar li a.active::after,
#navBar li a:hover::after{
	content: "";
	width: 30%;
	height: 2px;
	background-color:#2aabe4;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

#mobile{
	display: none;
	align-items: center;
}
#close{
	display: none;
}

#hero{
	 background-image: url('Images/Hero/hero_image.png');
	 background-color: #b8daff;
	 width: 100%;
	 height: 70vh;
	 background-position:right 0%;
	 background-position-x: 130%;
	 background-position-y:40px;
	 background-size: 60% 100%;
	 background-repeat: no-repeat, repeat;
	 padding: 0 80px;

	 display: flex;
	 justify-content: center;
	 align-items: flex-start;
	 flex-direction: column;
}

#hero h4{
	padding-bottom: 15px;
}
#hero h1{
	color:#2aabe4;
}
#hero button{
/*	background-image: url('shop_now_bgimage.jpg');
	background-color: transparent;*/
	background-color: skyblue;
	border-radius: 20px;
	color: black;
	border: 0;
	font-weight: bold;
	padding: 5px 15px;
	background-repeat: no-repeat;
	cursor: pointer;
}

#feature .feature_box{
	width: 180px;
	text-align: center;
	padding: 25px 15px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	margin: 15px 0;
}
#feature{	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
#feature .feature_box:hover{
	box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .feature_box h6{
	padding: 9px 8px 6px 8px;
	line-height: 1;
	background-color: #fddde4;
	border-radius: 4px;
	color: #088178;
	display: inline-block;
}
#feature .feature_box img{
	margin-bottom: 10px;
}
#feature .feature_box:nth-child(2) h6{
	background-color: #cdebbc;
}
#feature .feature_box:nth-child(3) h6{
	background-color: #d1e8f2;
}
#feature .feature_box:nth-child(4) h6{
	background-color: #cdd4f8;
}
#feature .feature_box:nth-child(5) h6{
	background-color: #f6dbf6;
}
#feature .feature_box:nth-child(6) h6{
	background-color: #fff2e5;
}

#product1{
	text-align: center;
}
#product1 .pro{
	padding: 10px 12px;
	width: 23%;
	min-width: 250px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}
#product1 .pro:hover{
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
	width: 100%;
	border-radius: 20px;
}
#product1 .pro .des{
	text-align: start;
	padding: 10px 0;
}
#product1 .pro .des span{
	color: #606063;
	font-size: 12px;
}
#product1 .pro .des h5{
	padding-top: 7px;
	color: black;
	font-size: 14px;
}
#product1 .pro .des .star{
	font-size: 12px;
	color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #2aabe4;
}
#product1 .pro .cart{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: #e8f6ea;
	font-weight: 500;
	color: #2aabe4;
	position: absolute;
	bottom: 20px;
	right: 10px;
}
#product1 .pro_container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 20px;
}

#banner{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background-image: url(Images/Banner/b1.jpg);
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;
}
#banner h4{
	color: white;
	font-size: 16px;
}
#banner h2{
	color: white;
	font-size: 30px;
	padding: 10px 0;
}
#banner h2 span{
	color: red;
}
#banner button:hover{
	background-color: #2aabe4;
	color: white;
}

#sm_banner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#sm_banner .banner_box{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background-image: url(Images/Banner/b2.jpg);
	min-width: 580px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
}
#sm_banner .banner_box2{
	background-image: url(Images/Banner/b3.jpg);
}

#sm_banner h4{
	color: white;
	font-size: 20px;
	font-weight: 300;
}
#sm_banner h2{
	color: white;
	font-size: 28px;
	font-weight: 800;
}
#sm_banner span{
	color: white;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 15px;
}
#sm_banner .banner_box:hover button{
	background-color: #2aabe4;
	border: 1px solid #2aabe4;
}
#banner3{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 80px;
}
#banner3 .banner_box{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background-image: url(Images/Banner/b4.jpg);
	width: 30%;
	height: 30vh;
	background-size: cover;
	background-position: center;
	padding: 20px;
	margin-bottom: 20px;
}
#banner3 h2{
	color: white;
	font-weight: 900;
	font-size: 22px;
}
#banner3 h3{
	color: red;
	font-weight: 800;
	font-size: 15px;
}
#banner3 .banner_box3{
	background-image: url(Images/Banner/b5.png);
}
#banner3 .banner_box4{
	background-image: url(Images/Banner/b6.jpg);
}

#newsletter{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-image: url(Images/Banner/b7.png);
	background-repeat: no-repeat;
	background-position: 20% 30%;
	background-color: #041e42;
}
#newsletter h4{
	font-size: 22px;
	font-weight: 700;
	color: white;
}
#newsletter p{
	font-size: 14px;
	font-weight: 600;
	color: #818ea0;
}
#newsletter p span{
	color: yellow;
}
#newsletter input{
	height: 50px;
	padding: 0 50px;
	font-size: 14px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#newsletter button{
	background-color: #2aabe4;
	color: white;
	white-space: nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#newsletter .form{
	display: flex;
	width: 40%;
}

footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer .col{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 20px;
	margin-right: 15px;
}
footer .logo{
	margin-bottom: 30px;
}
footer h4{
	font-size: 14px;
	padding-bottom: 20px;
}
footer p{
	font-size: 13px;
	margin: 0 0 8px 0;
}
footer a{
	font-size: 13px;
	text-decoration: none;
	color: #222;
	margin-bottom: 10px;
}
footer img{
	cursor: pointer;
}
footer .follow{
	margin-top:20px;
}
footer .follow i{
	color: #465b52;
	padding-right: 4px;
	cursor: pointer;
}
footer .install .row img{
	border: 1px solid #2aabe4;
	border-radius: 6px;
}
footer .install img{
	margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
	color: #2aabe4;
}
footer .copyright{
	width: 100%;
	text-align: center;
}


/*                         SHOP PAGE*/


#page_header{
	background-image: url('Images/Banner/b8.jpg');
	width: 100%;
	height: 40vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 14px;
}
#page_header h2,
#page_header p{
	
	align-items: center;
	color: white;
}
#pagination{
	text-align: center;
}
#pagination a{
	text-decoration: none;
	background-color: #2aabe4;
	padding: 15px 20px;
	border-radius: 4px;
	font-weight: 600;
	color: white;
}
#pagination a i{
	font-size: 16px;
	font-weight: 600;
}
#proDetails .single_pro_image{
	width: 30%;
	margin-right: 50px;
}
#proDetails .single_pro_image #MainImg{
	padding-bottom: 25px;
}
.small_imageGroup{
	display: flex;
	justify-content: space-between;
}
.small_imgCol{
	flex-basis: 24%;
	cursor: pointer;
}
#proDetails{
	display: flex;
	margin-top: 20px;
}
#proDetails .single_pro_details{
	width: 50%;
	padding-top: 30px;
}
#proDetails .single_pro_details h4{
	padding: 40px 0 20px 0;
}
#proDetails .single_pro_details h2{
	font-size: 26px;
}
#proDetails .single_pro_details select{
	display: block;
	padding: 5px 10px;
	margin-bottom: 10px;
}
#proDetails .single_pro_details input{
	width: 50px;
	height: 47px;
	padding-left: 10px;
	font-size: 16px;
	margin-right: 10px;
}
#proDetails .single_pro_details input:focus{
	outline: none;
}

#proDetails .single_pro_details button{
	color: white;
	background-color:#2aabe4;
}
#proDetails .single_pro_details span{
	line-height: 25px;
	color: grey;
}


                                    /*BLOG PAGE*/
#page_header.blog_header{
	background-image: url('Images/Banner/b9.jpg');
}
#blog{
	padding: 150px 150px 0 150px;
}
#blog .blog_box{
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
	padding-bottom: 90px 
	;
}
#blog .blog_image{
	width: 50%;
	margin-right: 40px;
}
#blog img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}
#blog .blog_details{
	width: 50%;
}
#blog .blog_details a{
	text-decoration: none;
	font-size: 11px;
	color: black;
	font-weight: 700;
	position: relative;
	transition: 0.3s;
}
#blog .blog_details a::after{
	content: "";
	width: 50px;
	height: 1px;
	background-color: black;
	position: absolute;
	top: 4px;
	right: -60px;
	transition: 0.3s;
}
#blog .blog_details a:hover{
	color: #2aabe4;
}
#blog .blog_details a:hover::after{
	background-color: #2aabe4;
}
#blog .blog_box h1{
	position: absolute;
	left:-100px;
	top: 98px;
	font-size: 70px;
	color: #c9cbce;
	z-index: -1;
	transform: rotate(-90deg);
}
                                          /*ABOUT PAGE*/

#page_header.about_header{
	background-image: url('Images/Banner/b10.png');
}
#about_head{
	display: flex;
/*	justify-content: space-between;*/
	align-items: center;
}
#about_head img{
	width: 50%;
	height: auto;
}
#about_head div{
	padding-left: 40px;
}
#about_app{
	text-align: center;
}
#about_app video{
	width: 70%;
	height: 100%;
	margin: 30px auto 0 auto;
	border-radius: 20px	;
}

								/*CONATCT PAGE*/

#contact_details{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#contact_details .details{
	width: 40%;
}
#contact_details .details span,
#form_details form span{
	font-size: 12px;
}
#contact_details h2,
#form_details form h2{
	font-size: 26px;
	line-height: 35px;
	padding: 20px 0;
}
#contact_details h3{
	font-size: 16px;
	padding: 15px 0;
}
#contact_details .details li{
	list-style: none;
	display: flex;
	padding: 10px 0;
}
#contact_details .details li i{
	font-size: 14px;
	padding-right: 22px;
	color: black;
}
#contact_details .details li p{
	margin: 0;
	font-size: 14px;
}
#contact_details .map{
	width: 55%;
	height: 400px;
}
#contact_details iframe {
	width: 100%;
	height: 100%;
}

#form_details{
	display: flex;
	justify-content: space-between;
	margin: 30px;
	padding: 80px;
	border: 1px solid #e1e1e1;
}

#form_details form{
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#form_details form input,
#form_details form textarea{
	width: 100%;
	padding: 15px 20px;
	outline: none;
	margin-bottom: 20px;
	border: 1px solid #e1e1e1;
}
#form_details form button{
	background-color: #2aabe4;
	color: white;
}
#form_details .people div{
	padding-bottom: 25px;
	display: flex;
	align-items: flex-start;
}
#form_details .people div img{
	width: 65px;
	height: 65px;
	object-fit: cover;
	margin-right: 15px;
}
#form_details .people div p{
	margin: 0;
	font-size: 13px;
	line-height: 25px;
}
#form_details .people div span{
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: black;
}

      /*CART PAGE*/
#cart{
	overflow-x: auto;
}
#cart table{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
}
#cart table img{
	width: 70px;
}
#cart table td:nth-child(1){
	width: 100px;
	text-align: center;
}
#cart table td:nth-child(2){
	width: 150px;
	text-align: center;
}
#cart table td:nth-child(3){
	width: 250px;
	text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
	width: 150px;
	text-align: center;
}
#cart table td:nth-child(5) input{
	width: 70px;
	padding: 10px 5px 10px 15px;
}
#cart table thead{
	border: 1px solid #e2e9e1;
	border-left: none;
	border-right: none;
}
#cart table thead td{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	padding: 18px 0;
}
#cart table tbody tr td{
	padding-top: 15px;
	font-size: 13px;
	color: grey;
}
#cart_add{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#coupon{
	width: 50%;
	margin-bottom: 30px;
}
#coupon h3,
#subTotal h3{
	padding-bottom: 15px;
}
#coupon input{
	padding: 10px 20px;
	outline: none;
	width: 60%;
	margin-right: 10px;
	border: 1px solid #e2e9e1;
}
#coupon button,
#subTotal button{
	background-color: #2aabe4;
    color: white;
    padding: 12px 20px;
}
#subTotal{
	width: 50%;
	margin-bottom: 30px;
	border: 1px solid #e2e9e1;
	padding: 30px;
}
#subTotal table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
#subTotal table td{
	width: 50%;
	border: 1px solid #e2e9e1;
	padding: 10px;
	font-size: 13px;
}

/*MEDIA QUERY*/
@media (max-width : 850px){
	.section_p1{
		padding: 40px 40px;
	}
	#navBar {
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: flex-start;
	    position: fixed;
	    top: 0;
	    right: -300px;
	    height: 100vh;
	    width: 300px;
	    background-color: #eef6ff;
	    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
	    padding: 80px 0 0 10px;
	    transition: 0.3s;
	}
	#navBar.active{
		right: 0px;
	}
	#navBar li{
		margin-bottom: 25px;
	}
	#mobile{
		display: flex;
		align-items: center;
	}
	#mobile i{
		color: black;
		font-size: 24px;
		padding-left: 20px;
	}
	#close{
		display: block;
		position: absolute;
		top: 30px;
		left:30px;
		color: black;
		font-size: 24px;
	}
	#shoppping_bag{
		display: none;
	}
	#hero{		 
		 height: 50vh;
		 padding: 0 80px;
/*		 background-position: top 100% right 5%;*/
	}
	#hero h4{
		font-size: 18px;
	}
	#hero h2{
		font-size: 36px;
	}
	#hero h1{
		font-size: 40px;
	}
	#hero p{
		font-size: 12px;
	}
	#feature {
    	justify-content: center;
	}
	#feature .feature_box {
	    margin: 15px 15px;
	}
	#product1 .pro_container {
	    justify-content: center;	    
	}
	#product1 .pro {    
	    margin: 15px;
	}
	#banner {
	    height: 25vh;
	}
	#sm_banner .banner_box {
	    width: 100%;
	    height: 30vh;
	    background-position-y: 15%;
	}
	#banner3 {
	    padding: 0 40px;
	}
	#banner3 .banner_box {
	    width: 28%;
	}
	#newsletter .form {
	    width: 70%;
	}


    /*CONTACT PAGE MEDIA QUERY*/
	#form_details {
	    padding: 40px;
	}
	#form_details form {
	    width: 50%;
	}
}
@media (max-width : 1170px){

	#product1 .pro_container {
	    justify-content: center;
	}
	#product1 .pro {
	    margin: 15px;
	}
	#feature {
	    justify-content: center;
	}
	#feature .feature_box{
		margin: 15px;
	}
	#sm_banner {
	    justify-content: center;
	}
	#sm_banner .banner_box2 {
	    margin-top: 20px;
	}
}
@media(max-width : 415px){
	.section_p1 {
	    padding: 20px;
	}
	#header {
	    padding: 10px 30px;
	}
	#hero {
	    height: 40vh;
	    padding: 0 20px;
	    background-position: 180%;
	    background-size: 60% 100%;
	}
	#hero h4{
		font-size: 15px;
	}
	#hero h2{
		font-size: 32px;
	}
	#hero h1{
		font-size: 36px;
	}
	#hero p{
		font-size: 10px;
	}
	#sm_banner {
	    justify-content: center;    
	}
	/*#banner h2 {
	    font-size: 20px;
	    
	}
	#banner {
	    height: 40vh;
	}*/
	button.normal {
	    font-size: 12px;
	    padding: 10px 20px;
	}
	#sm_banner .banner_box {
	    min-width: 100%;
	    height: 40vh;
/*	    background-position-y: 15%;*/
/*	    margin-right: 10px;*/
	}
	#sm_banner .banner_box2 {
	    margin-top: 20px;
	}
	#feature .feature_box {
	    width: 155px;
	    margin: 0 0 15px 0;
	}
	#feature {
	    justify-content: space-between;
	}
	#product1 .pro {
	    width: 100%;
	}
	#banner3 {
	    padding: 0 20px;
	}
	#banner3 .banner_box {
	    width: 100%;
	}
	#newsletter{
		padding: 40px 20px;
	}
	#newsletter .form {
	    width: 100%;
	}
	footer .copyright {
	    text-align: start;
	}

/*	    Single Product Media Queries*/

	#proDetails {
	    display: flex;
	    flex-direction: column;
	}
	#proDetails .single_pro_image{
		width: 100%;
		margin-right: 0px;
	}
	#proDetails .single_pro_details {
	    width: 100%;
	}

/*	BLOG PAGE MEDIA QUERIES*/

	#blog {
		    padding: 100px 20px 0 50px;
		}

	#blog .blog_box {
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	}
	#blog .blog_image {
	    width: 70%;
	    margin-right: 40px;
	    margin-bottom: 30px;
	}
	#blog .blog_details {
	    width: 100%;
	}

	/*	ABOUT PAGE MEDIA QUERIES*/

	#about_head {
	    flex-direction: column;
	}
	#about_head img {
	    width: 100%;
	    margin-bottom: 20px;
	}
	#about_head div {
	    padding-left: 20px;
	}
	#about_app video {
	    width: 100%;
	}

/*	CONTACT PAGE MEDIA QUERIES*/

	#contact_details {
	    flex-direction: column;
	}
	#contact_details .details {
	    width: 100%;
	    margin-bottom: 30px;
	}
	#contact_details .map {
	    width: 100%;
	}
	#form_details {
	    margin: 10px;
	    padding: 30px 10px;
	    flex-wrap: wrap;
	}
	#form_details form {
	    width: 100%;
	    margin-bottom: 50px;
	}

	/*CART PAGE MEDIA QUERY*/

	#cart_add {
	    flex-direction: column;
	}
	#coupon {
	    width: 100%;
	}
	#subTotal {
	    width: 100%;
	    padding: 20px;
	}
}